<div class="admin-wrap">
    <h3 class="margin-header">Add new genre</h3>
    <form method="POST" action="/genre/created">
        <div class="form-group">
            <label for="name">Genre name</label>
            <input class="form-control" name="name" required>
        <button type="submit" class="btn btn-dark mt-1">Confirm add</button>
    </form>
</div>