:root {
    --primary-color: #FF5C8D;
    --text-color: #000;
}

.detail-player {
    position: relative;

}

.detail-player .icon-pause {
    display: none;
}

.detail-player.playing .icon-pause {
    display: inline-block;
}

.detail-player.playing .icon-play {
    display: none;
}

.detail-dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 80px;
    width: 1150px;
    left: 57%;
    transform: translateX(-50%);
    border-bottom: 1px solid #ebebeb;
    border-radius: 16px;
    height: 340px;
}

/* HEADER */
.detail-header {
    text-align: left;
    margin-bottom: 10px;
}

.detail-header-4 {
    color: (--primary-color);
    font-size: 16px;
    padding-left: 1px;
    margin-left: 80px;
}

.detail-header-2 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
    margin-left: 80px;
}

/* CD */
.detail-song-properties {
    width: 1000px;
    display: flex;
    margin-left: 80px;
}

.detail-cd-thumb {
    width: 20%;
    padding-top: 20%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    z-index: -1;
}

/* CONTROL */
.detail-control {
    display: inline-block;
    padding: 72px 0 8px 80px;
}

.detail-control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.detail-control .btn.active {
    color: var(--primary-color);
}

.detail-control .detail-btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.detail-progress-music {
    margin: 96px 0 8px 90px;
    width: 40%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.detail-progress-music::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--primary-color);
    cursor: pointer;
}

.detail-option {
    border: none;
    background: none;
    position: relative;
    margin-left: 12px;
}

.detail-option:hover {
    cursor: pointer;
}

.detail-option:hover .playlist-list {
    display: block;
}

.playlist-list {
    display: none;
    position: absolute;
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0px 0px 4px rgb(139, 139, 139);
    width: 140px;
    background-color: #fff;
}

.playlist-list li:hover {
    background-color: #E3E3E3;
}

.playlist-list li {
    padding: 6px 0;
}

.list-title {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin: 0;
}

.btn-add-to-playlist {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}
  