.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center; }

.del-open {
  display: flex; }

.modal-delete-container {
  background: #FFF;
  width: 300px;
  height: 200px;
  border-radius: 16px;
  position: relative;
  animation: modalFadeIn ease 0.3s; }

.modal-delete-header {
  font-size: 25px;
  font-weight: bold;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center; }

.modal-delete-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  cursor: pointer;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border: none;
  background: none; }

.modal-delete-close:hover {
  background: #d8d8d8; }

.modal-delete-body {
  padding: 0 16px; }

.modal-delete-input {
  display: block;
  width: 100%;
  border-radius: 8px;
  border: none;
  background: gainsboro;
  padding: 8px; }

#delete-list {
  background: #FF5C8D;
  color: #FFF;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 8px;
  width: 100%; }

#cancel {
  background: #9f9f9f;
  color: #FFF;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  margin-top: 8px;
  width: 100%; }

@keyframes modalFadeIn {
  from {
    transform: translateY(-200px); }
  to {
    transform: translateY(0); } }

.del-playlist {
  border: none;
  background: rgba(193, 193, 193, 0.4);
  padding: 0 7px;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 4px; }
