<div class="music-web-name"><span style="font-size: 24px"><i class="fa-solid fa-music"></i></span>MPLAYER</div>
    <div class="music-nav-list">
        <ul class="ul-list">
            <a href="/"><li><i class="fa-solid fa-house"></i> Home</li></a>
            <a href="/me/library"><li><i class="fa-solid fa-list"></i> Library</li></a>
            <a href="/"><li><i class="fa-solid fa-circle-info"></i> About</li></a>
        </ul>
    </div>
<button class="quick-playlist-cre-btn">
    <i class="fa-solid fa-square-plus"></i> Create Playlist
</button>


