<div class="music-web-name"><span style="font-size: 24px"><i class="fa-solid fa-music"></i></span>MPLAYER</div>
    <div class="music-nav-list">
        <ul class="ul-list">
            <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a href="/"><i class="fa-solid fa-list"></i> Library</a></li>
            <li><a href="/"><i class="fa-solid fa-circle-info"></i> About</a></li>
        </ul>
    </div>
<div class="quick-playlist-cre-btn">
    <a href="/"><i class="fa-solid fa-square-plus"></i> Create Playlist</a>
</div>
