<div class="music-list-text">
    <h3>New Songs</h3>
</div>
<div class="song-list">
    <div class="container-fluid">
        <div class="row">
            <div class="song-card col-sm-2 mt-3">
                <a href="/">
                    <div class="card" style="width: 12rem;">
                        <img src="https://i1.sndcdn.com/artworks-000540501804-smo4vk-t500x500.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Bài này chill phết</p>
                        </div>
                    </div>                
                </a>
            </div>                      
        </div>
    </div>
</div>