<div class="music-list-text">
    <h3>Playlist</h3>
</div>
<div class="song-list">
    <div class="container-fluid">
        <div class="row playlist-container">
                            
        </div>
    </div>
</div>

<div class="modal-delete">
    <div class="modal-delete-container">
        <button class="modal-delete-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div class="modal-delete-header">
            DELETE PLAYLIST?
        </div>
        <div class="modal-delete-body">
            <form action="">
                <button type="button" id="delete-list">Delete</button>
                <button type="button" id="cancel">Cancel</button>                    
            </form>
        </div>
    </div>
</div>
