<div class="music-list-text">
    <h3>Playlist</h3>
</div>
<div class="song-list">
    <div class="container-fluid">
        <div class="row playlist-container">
                             
        </div>
    </div>
</div>